.normal{
           float: left;
           width:160px;
           height: 28px;
           background: url(../images/title_bg.gif);
           text-align: center;
        }
.container{
             width:484px;
             height: 428px;
          }
.title{
         width: 484px;
         height: 30px;            	
      }
.content{
            width: 484px;
            height: 400px;
        }

#content_1{
              background:purple;
              display: block;
              height: 400px;
          }
#content_2{
              background: yellow;
              display: none;
              height: 400px;
          }
#content_3{
              background: pink;
              display: none;
              height: 400px;
          }